<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Brand</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand">
    <div class="container">

    </div>
    <div class="brand-bg">
        <div class="container">
            <div class="row">
                <% const brand_list = [1, 2, 3, 4]; for (let brand in brand_list) { %>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <a href="/brand">
                            <div class="brand_box">
                                <img src="/client/images/1.png" alt="img"/>
                                <h3><strong>Mobile Phone</strong></h3>

                            </div>
                        </a>
                    </div>

                <% } %>
            </div>
        </div>
    </div>
</div>
