<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/assets/media/decoration/smartphone.svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/loading.css">

    <link rel="stylesheet" href="/assets/css/loading.css">
    <link rel="stylesheet" href="/assets/css/alert.css">
</head>
<body>
<div class="container-fluid position-relative d-flex p-0">
    <%- include('../partials/client/loading') %>
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="/" class="">
                            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DPhone</h3>
                        </a>
                        <h3>Sign In</h3>
                    </div>
                    <form id="login_form">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com"
                                   required>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                   required>
                            <label for="password">Password</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check">
                            </div>
                            <a href="#" id="btn_forgot_pass">Forgot Password?</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                    </form>
                    <p class="text-center mb-0">Don't have an Account? <a href="/security/register">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
    <button type="button" hidden class="btn btn-primary" id="btn_open_reset_pass_modal" data-toggle="modal" data-target="#reset_pass_modal">
    </button>
    <div class="modal fade" id="reset_pass_modal" tabindex="-1" role="dialog">
        <form id="reset_pass_form">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Reset Password</h5>
                </div>
                <div class="modal-body">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control" id="input_email_reset">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Reset</button>
                    <button type="button" class="btn btn-secondary" id="btn_close_reset_pass_modal" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
        </form>
    </div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/lib/easing/easing.min.js"></script>
<script src="/assets/js/admin/alert.js"></script>
<script src="/assets/js/admin/loading-wrapper.js"></script>
<script>
    $('#login_form').submit(function (e) {
        e.preventDefault()
        const email = $('#email').val()
        const password = $('#password').val()

        $.ajax({
            url: '/security/login',
            type: 'post',
            dataType: 'json',
            beforeSend: LoadingWrapper(true),
            data: {email, password},
            success: function (response) {
                setTimeout(() => {
                    if (response.code === 200) {
                        document.cookie = `user_token=${response.token}; path=/`
                        if(response.role === 'admin'){
                            location.href = '/admin/dashboard'
                        } else {
                            location.href = '/'
                        }
                    } else {
                        Alert.Show('warning', 'email or password is wrong!')
                    }
                    LoadingWrapper(false)
                }, 1500)

            },
            error: function (error) {
                Alert.Show('danger', 'login fail, something went wrong!')
                LoadingWrapper(false)
            }
        })
    })

    $('#btn_forgot_pass').click(function (){
        console.log('cl')
        $('#btn_open_reset_pass_modal').click()
    })
    $('#reset_pass_form').submit(function (e){
        e.preventDefault()
        const email = $('#input_email_reset').val()

        $.ajax({
            url: '/security/request-forgot-password',
            type: 'post',
            dataType: 'json',
            beforeSend: LoadingWrapper(true),
            data: {email},
            success: function (response) {
                setTimeout(() => {
                    if (response.code === 200) {
                        Alert.Show('success', 'check in your mail to reset password')
                        $('#btn_close_reset_pass_modal').click()
                    } else {
                        Alert.Show('warning', 'email or password is wrong!')
                    }
                    LoadingWrapper(false)
                }, 1500)
            },
            error: function (error) {
                Alert.Show('danger', 'login fail, something went wrong!')
                LoadingWrapper(false)
            }
        })
    })
</script>
</body>
</html>