<div class="container-fluid">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="col-md-7 text-center">
            <h3><%= content %></h3>
        </div>
    </div>
</div>