<button type="button" hidden class="btn btn-primary" id="btn_open_notification_modal" data-toggle="modal" data-target="#notification_modal">
</button>
<div class="modal fade" id="notification_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notification</h5>
            </div>
            <div class="modal-body">
                <p id="content_notification_modal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn_close_notification_modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>