<div class="search-box">
    <button class="btn-search" id="btn_search_product"><i class="fas fa-search"></i></button>
    <input type="text" class="input-search" id="input_search_product" placeholder="Type to Search...">
</div>