<div class="brand-bg">
    <div class="container">
        <div class="row">
            <% data.brand_list.map(brand =>{ %>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                    <a href="/product/<%= brand.name %>">
                        <div class="brand_box">
                            <img src="/assets/media/logo-brand/<%= brand.logo.name %>" alt="img"/>
                            <h3><strong><%= brand.name %></strong></h3>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</div>

