<div class="brand-bg">
    <div class="container">
        <div class="row">
            <% const brand_list = [1,2,3,4]; for (let brand in brand_list) { %>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                <div class="brand_box">
                    <img src="images/1.png" alt="img" />
                    <h3><strong>Mobile Phone</strong></h3>
                </div>
            </div>
           <% } %>
        </div>
    </div>
</div>