<button type="button" hidden class="btn btn-primary" id="btn_open_confirm_checkout_modal" data-toggle="modal" data-target="#confirm_checkout_modal">
</button>
<div class="modal fade" id="confirm_checkout_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: black">Confirm</h5>
            </div>
            <div class="modal-body">
                <p>Checkout this cart?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="background-color: rgb(235, 22, 22)" id="btn_ok_checkout">Check Out</button>
                <button type="button" class="btn btn-secondary" id="btn_close_confirm_checkout_modal" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>