<div class="wrapper">
    <div class="rate-box" id="rating_feedback">
        <input type="radio" name="star" id="5" class="rating_star" checked/>
        <label class="star" for="5"></label>
        <input type="radio" name="star" id="4" class="rating_star" />
        <label class="star" for="4"></label>
        <input type="radio" name="star" id="3" class="rating_star" />
        <label class="star" for="3"></label>
        <input type="radio" name="star" id="2" class="rating_star" />
        <label class="star" for="2"></label>
        <input type="radio" name="star" id="1" class="rating_star" />
        <label class="star" for="1"></label>
    </div>
    <textarea cols="30" rows="6" placeholder="Tell us about your experience!" id="input_comment"></textarea>
    <div class="submit-btn" id="btn_send_comment">Send</div>
</div>